streamlit>=1.28.0		#To build interactive web dashboards in Python
streamlit-autorefresh>=0.0.1	#Lets Streamlit app auto-refresh without clicking reload.
pandas>=2.0.0			#Used for handling tables and data analysis easily.
numpy>=1.24.0			#Used for fast math operations on arrays.
plotly>=5.15.0			#For making interactive charts and graphs.
kafka-python>=2.0.2		#Used to send and get messages from Kafka (for data streaming).
pymongo>=4.5.0			#Allows Python code to read and write to MongoDB Atlas.
requests>=2.31.0		#Lets the code easily call web APIs.
python-dateutil>=2.8.2		#Makes date and time parsing much easier.
kaleido>=0.2.1			#Needed to export Plotly charts as images (PNG, etc).
certifi>=2023.7.22		#Keeps SSL certificates up-to-date for secure connections to APIs and MongoDB.
